In [1]:
li =['abcd','def']
li.insert(4,5)
print(li)

['abcd', 'def', 5]

In [2]:
li = ['abcd',5,'def',5]
li.remove(5)
print(li)

['abcd', 'def', 5]

In [3]:
li = [5,2,6,8]
li.pop(2)
print(li)
li.append(10)
print(li)

[5, 2, 8]
[5, 2, 8, 10]

In [4]:
li = []
n = int(input())
for i in range(n):
    curr = int(input())
    li.append(curr)

5
9
3
1
0
4

In [5]:
li

[9, 3, 1, 0, 4]

In [6]:
for ele in li:
    print(ele)

9
3
1
0
4

In [7]:
li = []
n = int(input())
for i in range(n):
    curr = input()
    li.append(curr)

1
2

In [8]:
li

['2']

In [9]:
str = input()

2

In [10]:
str

'2'

In [11]:
li = []

In [12]:
str_split = str.split(' ')

In [13]:
str_split

['2']

In [14]:
for ele in str_split:
    li.append(int(ele))
li

[2]

In [15]:
li = [int(x) for x in input().split()]
li

3

[3]

In [16]:
li

[3]

In [18]:
n = int(input())
li = input()
Sum = 0
str_split = li.split()
for i in range(n):
    curr = int(str_split[i])
    Sum = Sum + curr
Sum

2
2 3 4

5

In [19]:
def reverse_list(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[length-i-1] = li[length-i-1],li[i]
    return li

li = [1,2,3,4,5,6]
reverse_list(li)

[6, 5, 4, 3, 2, 1]

In [20]:
def change(li):
    li[1] = li[1] + 2
    li = [3,3,3,4,5]
li = [1,2,3,4,5]
change(li)
print(li)

[1, 4, 3, 4, 5]

In [21]:
def swapAlternate(arr, n) :
    #Your code goes here
    i = 0
    while n>i:
        arr[i],arr[i+1] = arr[i+1],arr[i]
        i = i+2
        n = n-1
li = [9,3,6,12,4,32]
print(li)
swapAlternate(li,6)

[9, 3, 6, 12, 4, 32]

In [22]:
a = 2
b = 3
print(a,b)
a,b=b,a
print(a,b)

2 3
3 2

In [23]:
def findUnique(arr, n):
    #Your code goes here
    for n in arr:
        if arr.count(n) == 1:
            return n
        
li = [2,4,7,2,7]
findUnique(li,3)

4

In [24]:
import sys
def intersections(arr1, n, arr2, m) :
    
    for i in range(n) :
        for j in range(m) :
            if arr1[i] == arr2[j] :
                print(arr1[i], end = " ")
                arr2[j] = sys.maxsize
                break
arr1 = [2, 6, 1, 2]
n = len(arr1)
arr2 = [1, 2, 3, 4, 2]
m = len(arr2)
intersections(arr1, n, arr2, m)

2 1 2

9
1 3 6 2 5 4 3 2 4
7

1. 3 6
2. 5 4
3. 6 3
4. 5 4

In [26]:
lst = [1,3,6,2,5,4,3,2,4]
n = len(lst)
count = 0
x = 6
for i in range(n):
    for j in range(i+1,n):
        if lst[i] + lst[j] == x:
            print(lst[i],"--->",i,lst[j],"----->",j)
            count += 1
            print(count)
print(count)

1 ---> 0 5 -----> 4
1
3 ---> 1 3 -----> 6
2
2 ---> 3 4 -----> 5
3
2 ---> 3 4 -----> 8
4
4 ---> 5 2 -----> 7
5
2 ---> 7 4 -----> 8
6
6

In [27]:
def sortZeroesAndOne(arr, n):
    #Your code goes here 
    count_0 = 0
    count_1 = 0
    for i in range(n):
        if arr[i] == 0:
            count_0 += 1
        if arr[i] == 1:
            count_1 += 1
    for i in range(0,count_0):
        arr[i] = 0
    for j in range(count_0,count_0+count_1):
        arr[j] = 1
    return arr

n = 7
arr = [0,1,1,0,1,0,1]
sortZeroesAndOne(arr, n)

[0, 0, 0, 1, 1, 1, 1]

In [28]:
def isPalindrome(string) :

    n = len(string)//2
    flag = "none"
    for i in range(n):
        if string[i] == string[len(string)-i-1]:
            print(i)
            flag = True
        else:
            flag = False
    return flag

string = "abcdcba"
ans = isPalindrome(string)

if ans :
    print('true')
else :
    print('false')

0
1
2
true

In [29]:
li = [1,2,3]
new_list = []
for i in li:
    new_list.append(i**2)
new_list

[1, 4, 9]

In [30]:
new_list_c = [i**2 for i in li]
new_list_c

[1, 4, 9]

In [31]:
li = [1,2,3,4,5,6]
new_list_even = [ele**2 for ele in li if ele%2==0]
new_list_even

[4, 16, 36]

In [32]:
li = [1,2,3,4,5,6,7,8,9,12,18]
new_l = []
for ele in li:
    if ele%2==0:
        if ele%3==0:
            new_l.append(ele**2)
new_l

[36, 144, 324]

In [33]:
new_lst = [ele**2 for ele in li if ele%2==0 if ele%3==0]
new_lst

[36, 144, 324]

In [34]:
li_1 = [1,2,3,4,5,6,7,8,9,12,18]
li_2 = [1,2,3,4,5,6]
li_intersection = []

for ele_1 in li_1:
    for ele_2 in li_2:
        if ele_1 == ele_2:
            li_intersection.append(ele_1)
li_intersection

[1, 2, 3, 4, 5, 6]

In [35]:
li_1 = [1,2,3,4,5,6,7,8,9,12,18]
li_2 = [1,2,3,4,5,6]
li_intersection_c = [ele_1 for ele_1 in li_1 for ele_2 in li_2 if ele_1==ele_2]
li_intersection_c

[1, 2, 3, 4, 5, 6]

In [36]:
li = [1,2,3,4,5,6]
new_li = [ele**2 if ele%2==0 else ele for ele in li]
new_li

[1, 4, 3, 16, 5, 36]

In [37]:
name = "Fazlullah Bokhari"
nlist = [ch for ch in name]
nlist

['F',
 'a',
 'z',
 'l',
 'u',
 'l',
 'l',
 'a',
 'h',
 ' ',
 'B',
 'o',
 'k',
 'h',
 'a',
 'r',
 'i']

In [38]:
name = ["Mr.","Fazlullah","Bokhari"]
list_chr = [[ch for ch in ele] for ele in name]
list_chr

[['M', 'r', '.'],
 ['F', 'a', 'z', 'l', 'u', 'l', 'l', 'a', 'h'],
 ['B', 'o', 'k', 'h', 'a', 'r', 'i']]

In [39]:
lst = input().split()
n,m = int(lst[0]),int(lst[1])
two_d_list = [[int(j) for j in input().split()] for i in range(n)]
two_d_list

2 3
1 2 3
1 4 7 8

[[1, 2, 3], [1, 4, 7, 8]]

In [45]:
st = input().split()
n,m = int(st[0]),int(st[1])
b = input().split()

result = [[int(b[m*i+j]) for j in range(m)] for i in range(n)]
result

3 2
1 2 3 4 5 6

[[1, 2], [3, 4], [5, 6]]

In [46]:
st = input().split()
n,m = int(st[0]),int(st[1])
b = st[2:]

result = [[int(b[m*i+j]) for j in range(m)] for i in range(n)]
result

3 4 1 2 3 4 5 6 7 8 9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [47]:
"12".join("fazlullah")

'f12a12z12l12u12l12l12a12h'

In [51]:
result = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

for row in result:
    for col in row:
        print(col,end=" ")
    print()

1 2 3 4
5 6 7 8
9 10 11 12

In [1]:
result = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

for row in result:
    output = " ".join([str(ele) for ele in row])
    print(output)

1 2 3 4
5 6 7 8
9 10 11 12

In [6]:
def lar_col_sum(lst):
    row = len(lst)
    col = len(lst[0])
    
    max_sum = -1
    max_col_index = -1
    for j in range(col):
        Sum = 0
        for i in range(row):
            Sum = Sum + lst[i][j]
        if Sum>max_sum:
            max_col_index = j
            max_sum = Sum
    return max_sum,max_col_index
            

result = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
col_sum,lar_col_index = lar_col_sum(result)
print(col_sum,lar_col_index)

24 3

In [8]:
def lar_col_sum(lst):
    row = len(lst)
    col = len(lst[0])
    
    max_sum = -1
    max_col_index = -1
    for j in range(col):
        Sum = 0
        for ele in lst:
            Sum = Sum + ele[j]
        if Sum>max_sum:
            max_col_index = j
            max_sum = Sum
    return max_sum,max_col_index
            

result = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
col_sum,lar_col_index = lar_col_sum(result)
print(col_sum,lar_col_index)

24 3

In [9]:
def lar_Col_Sum(li):
    n=len(li)
    m=len(li[0])
    max_sum=-1
    max_col_Index=-1
    for j in range(m):#going through each column
        sum=0
        for ele in li:
            sum+=ele[j]
        if sum>max_sum:
            max_col_index=j
            max_sum=sum
    return max_sum,max_col_index
        
li=[[1,2,3,4],[8,7,6,5],[9,10,11,12]]
lar_sum,lar_col_index=lar_Col_Sum(li)
print(lar_sum,lar_col_index)

21 3

In [ ]:
def rowWiseSum(mat, nRows, mCols):
    #Your code goes here
    sum_list = []
    sum_row = 0
    
    for i in range(nRows):
        for j in range(mCols):
            sum_row = sum_row + mat[i][j]
        sum_list.append(sum_row)
        sum_row = 0
    for ele in sum_list:
        print(ele,end=" ")
mat = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
n = 3
m = 4
rowWiseSum(mat, n, m)

In [ ]:
st = input().split()
n,m = int(st[0]), int(st[1])
b = input().split()
arr = [[ int(b[m*i+j]) for j in range(m)] for i in range(n)]
arr